# Node dependencies
node_modules/
dist/
.cache/
.build/
astro.config.mjs.ts

# Output
build/
public/assets/generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
.env
.env.*

# VSCode
.vscode/

# Mac system files
.DS_Store

# Netlify
.netlify/

# Misc
*.local
